* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}

a {
  text-decoration: none;
}
