.project-card {
  display: flex;
  width: 60vw;
  min-height: 30vh;
  height: auto;
  margin: 2rem auto;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  /* background-color: red; */
}

.hide-card {
  display: flex;
  width: 60vw;
  min-height: 30vh;
  height: auto;
  margin: 2rem auto;
  transform: translateY(100%);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.right {
  flex-direction: row-reverse;
  width: 60vw;
  min-height: 30vh;
  transition: all 1s ease-in-out;
  height: auto;
  margin: 2rem auto;
  /* background-color: red; */
}

.project-image-container {
  /* background-color: red; */
  width: 55%;
  min-height: 30vh;
  height: auto;
}

.project-image-container-right {
  width: 60%;
  height: auto;
}

.project-image {
  height: 100%;
  width: 110%;
  object-fit: cover;
  z-index: 99;
  border-radius: 10px;
  cursor: pointer;
  filter: brightness(0.8) hue-rotate(58deg) saturate(1.3) sepia(0.38);
  transition: 0.5s all ease-in-out;
}
.project-image-right {
  width: 100%;
  filter: blur(0.8px) brightness(0.8) hue-rotate(58deg) saturate(1.3)
    sepia(0.38);
}

.project-image:hover {
  filter: none;
  box-shadow: 2px 2px 2px gray;
  transition: 0.5s all ease-in-out;
}
/* project info */

.project-info {
  width: 40%;
  text-align: right;
  z-index: 1;
}

.project-info-left {
  width: 40%;
  text-align: left;
}

.project-header {
  margin-block: 1rem;
}

.project-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-block: 1rem;
}

.project-description {
  padding-inline: 2rem 1rem;
  padding-block: 2rem;
  margin-block: 1rem;
  width: 110%;
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
  color: white;
  background-color: #112240;
}

.project-technologies {
  margin-block: 1rem;
}

/* end project info */

@media screen and (max-width: 600px) {
  .project-card {
    width: 80vw;
    margin: auto;
    height: 45vh;
    position: relative;
    margin-block:1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray-;
  }

  .project-image-container{
    width: 100%;
  }

  .project-image, .project-image-left, .project-image-right{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.25;
    
    
  }

  .project-info , .project-info-left , .project-info-right{
    position: absolute;
    width: 100%;
    color:aliceblue;
    z-index: 2  ;
    padding:1rem;
    text-align: left;
    height: 100%;
    background-color:rgba(14,34,54,0.6) ;
  }
  .project-description{
    width: 100%;
    padding-block:1rem;
    padding-inline: 0;
    box-shadow: none;
    color: black;
  }

  .project-description{
    background-color: transparent;
  }



}
